/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #FFFEF8;
}
main{
    margin:20px;
}
ol, ul {
	list-style: none;
}
a:visited {
	color: #000000;
    font-weight: 900;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html, body, .bodyContainer {
	height: 100%;
}

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
   flex-direction: column;
   font-family: 'Syne';
   font-size: 22px;
   font-weight: 800;
   color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li :hover {
    font-weight: 700;
}
li :visited{
    font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
}

.currentLink {
    font-weight: 600;
}

/*edition mode*/
#edition-mode{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 56px;
    background-color: #000000;
    color: #ffffff;
}
#edition-mode button {
    border: none;
    border-radius: 9999px;
    padding: 8px 12px;
    font-family: 'Work Sans';
    cursor: pointer;
}
#edition-mode h3,i {
    padding: 8px 12px;
    font-family: 'Work Sans';
    cursor: pointer;
    margin: 12px 0 auto 0;
} 

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin-right: auto;
	width: 80%;
}
#introduction article {
	flex: 1;
}
#introduction article .modify{
    margin-top: -15em;
}
#introduction h2 {
	margin-top: -4em;
    margin-bottom: 2em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
    margin-bottom: 4em;
}
#figure .modify {
    margin-left:7rem;
}
.link-wrapper div {
    margin-left: 31em;
    margin-top: -5.2em;
    margin-bottom: 2em;
}
.link-wrapper  div i{
    margin-left: 2em;
}
/*modal*/
.modify {
    font-family: 'Work Sans';
font-style: normal;
font-size: 20px;
font-weight: 300;
	

}
.modifyWorks {
	align-self: center;
}
.fa-pen-to-square {
	font-size: 20px;
	margin-right: 10px;
}
.modifyLink {
	text-decoration: none;
	color: #000000;
	vertical-align: text-top;
}
.flexCenter {
	justify-content: center;
	align-items: center;
}
#openModalButton {
        font-family: 'Work Sans';
        font-style: normal;
        font-size: 20px;
        font-weight: 300;
        border: none;
        background: none;
        display: none;
        margin-left: 10em;
        margin-top: -8.2em;
        margin-bottom: 2em;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}
.modalGallery, .modalAddWork {
	border: 1px black solid;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 630px;
	position: relative;
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 100px);
	overflow: auto;
}
.modalAddWork {
	display: none;

}

.icons {
	display: flex;
	justify-content: space-between;
}
.fa-arrow-left {
	font-size: 20px;
	margin: 30px 0 0 30px;
}
.fa-xmark {
	font-size: 20px;
	margin: 30px 35px;
	position: absolute;
	right: 0;
}
.modalGallery h3,
.modalAddWork h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 46px;
}
.modalGallery h3 {
	margin-top: 60px;
}
.galleryContainer {
	margin: 0 105px;
	display: grid;
	justify-content:center;
	grid-template-columns: repeat(auto-fit, minmax(75px, max-content));
	grid-gap: 7px 10px;
}
.galleryContainer figure {
	position: relative;
}
.galleryContainer img {
	width: 100%;
}
.trashContainer {
	z-index: 1;
	position: absolute;
	top: 6px;
	right: 6px;
}
.fa-trash-can,
.fa-arrows-up-down-left-right {
	font-size: 10px;
	background-color: #000000;
	color: #FFFFFF;
	padding: 3px;
	line-height: normal;
	border-radius: 2px;
}
hr {
	width: 67%;
	margin-top: 47px;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
.textCenter {
	text-align: center;
}
#addWorkButton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 38px auto 0 auto;
	width: 237px;
	border-radius: 60px;
	height: 36px;
	border: none;
}
#deleteWorkButton {
	font-family: 'Syne';
	font-weight: 700;
	color: #D65353;
	margin-top: 23px;
	margin-bottom: 48px;
	border: none;
	background: none;
}

.imgContainer {
	background: #E8F1F6;
	width: 65%;
	height: 169px;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto 10px auto;
	position: relative;
	padding-bottom: 11px;
}
.imgContainer .fa-image {
	display: block;
	color: #B9C5CC;
	font-size: 60px;
	padding-top: 25px;
	margin-bottom: 20px;
}
.imgContainer label {
	display: inline-block;
	font-family: 'Syne';
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px 33px;
	border-radius: 50px;
	font-weight: 500;
}
#addImgButton {
	display: none;
}
#imgPreview {
	width: 129px;
	height: 180px;
	object-fit: cover;
	position: absolute;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	visibility: hidden;
}
.imgContainer p {
	margin-top: 7px;
	font-size: 12px;
}
.imgErrorMessage {
	color: #ff0000;
	position: relative;
	top: 5px;
	font-size: 13px;
}

.info {
	margin: 0 auto 47px auto;
	width: 65%;
}
.info label {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.titleErrorMessage {
	color: #ff0000;
	font-size: 13px;
	text-align: left;
	margin-top: 5px;
}
.inputError {
	background: #fff0f4;
	border: 2px #ff0000 solid;
}
.info input, .info select {
	height: 50px;
}
#submitWork {
	width: 240px;
	height: 36px;
	border: none;
	margin-top: 32px;
	margin-bottom: 55px;
	display: flex;
	justify-content: center;
}

/*filters */
.filters{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#btnObjects,#btnHotels,#btnAppartements,#btnAll{

    font-size: 16px;
    font-weight: 700;
    color: #1D6154;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 21px;
    margin-bottom: 51px;
    cursor: pointer;
    background-color:  #FFFEF8;
}
.filterActive{
    background-color: #1D6154;
    color: #FFFFFF;
    
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/*login*/
#login{
    text-align: center;
}
#login, #contact {
	width: 50%;
	margin: auto;
}

#login h2, #contact h2{
	margin-bottom: 20px;
    text-align: center;
}
#login form, #contact form, .container form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input, #contact input, .container input, .container select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label, #contact label, .container label {
	margin: 2em 0 1em 0;
    
}

#login textarea, #contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#form label{
    text-align: left;
}
#login-bold {
	font-weight: bold;
}